<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Lashe Careers</title>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->

  <style>
body{
  background-color:#ffc;
}

    #container{
  max-width: 720px;
      /* quick way to center something on a page */
    margin: 0 auto;
    }

    
    #banner{
      width:100%;
      height:300px;
      object-fit:cover;

    }
    

 h1{
  font-family:Roboto;
  font-size:40px;
   text-align:center;
}

     h2{
      font-family:Roboto;
      font-size:35px;
       text-align:center;
    }

    

    .bodytext{
      font-family:Roboto;
     
      
    } 
    
  </style>
  


  </head>
  <body>
<div id="container">

<h1>
Everything Lashe
</h1>


   <img id ="banner" src="https://f94e4117-b018-433d-8155-8070885ab0f4-00-2mn0afkwdjc4l.picard.replit.dev/static/banner.jpg.jpg".jpg alt=""> 

  <h2>
    About Lashe
  </h2>
<p class"bodytext">

  Certainly! Here are some SEO-friendly keywords and phrases that you can consider incorporating into your content, depending on your niche or topic:

 
 
  Scientific discoveries
  Nature exploration
  Environmental issues
  Wildlife documentaries
  Space exploration
  Entertainment:

  Movie reviews
  TV show recaps
  Celebrity news
  Entertainment updates
  Pop culture discussions
  Remember to choose keywords that align with your content and resonate with your target audience. Utilize a mix of broad and specific terms to cater to different search intents. Regularly update your keyword strategy based on industry trends and user behavior.
</p>

<h2> Open Possitions </h2>
  <pclass"bodytext">TODO - Show the jobs here </p>

  <!--this is how to apply style in-line  -->
<div style= "text-align:center;">
  <button>Contact Us</button>
  <p>Lashe &copy; 2024. All rights reserved</p>
</div>

  
</div>
  </body>
</html>
  